.Select {
  position: relative;
  color: var(--light);
  display: flex;
}

.Select__select {
  background-color: var(--bg-dark);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
  outline: none;
  border: 0.2rem solid var(--light);
  border-radius: 0.5rem;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

.Select__icon {
  position: absolute;
  fill: currentColor;
  width: 1.1rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}