.Stats {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media only screen and (min-width: 768px)  {
  .Stats {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}