body,
html {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

h2 {
    font-family: 'Bevan', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

body {
    white-space: nowrap;
}

.container {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.container * {
    white-space: normal;
}

.container::after {
    content: "";
    height: 100%;
    width:0;
    display: inline-block;
    vertical-align: middle;
}

.content {
    display: inline-block;
    vertical-align: middle;
}

#container-subban {
    background-image: url("pksubban.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eab63e;
    border-right: 2px solid black;
}

#container-weber {
    background-image: url("sheaweber.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #c4222a;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.message {
    padding: 5px;
    font-size: 0.75em;
}

.loading {
    width: 45px;
}

h3,
table {
    font-family: 'Electrolize', sans-serif;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.8);
}

h4 {
    font-family: 'Electrolize', sans-serif;
    color: white;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.8);
}

table td {
    border: 1px solid white;
    min-width: 60px;
}

.team {
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}

.team span {
    vertical-align: middle;
}

.team .label.before,
.team .record {
    margin-right: 10px;
}

.label {
    text-transform: uppercase;
}

.label.before {
    font-size: 0.5em;
    padding: 5px;
    border: 1px solid gray;
    color: gray;
}


@media only screen and (max-width : 768px) and (min-width : 601px) {
    h2 {
        font-size: 2em;
    }

    h3,
    table {
        font-size: 1em;
    }

    h4 {
        font-size: .9em;
    }

    table td {
        min-width: 45px;
    }
}

@media only screen and (max-width : 600px) {
    .container {
        width: 100%;
        height: 50%;
    }

    .team {
        padding: 8px 0;
    }

    #container-subban {
        border-right: 0;
        border-bottom: 2px solid black;
    }

    h2 {
        font-size: 2.5em;
    }

    h3,
    table {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.1em;
    }

    table td {
        min-width: 50px;
    }

    .team {
        font-size: 1em;
    }
}

@media only screen and (max-width : 320px) {
    h2 {
        font-size: 1.5em;
    }

    h3,
    table {
        font-size: 0.9em;
    }

    h4 {
        font-size: 0.6em;
    }

    table td {
        min-width: 35px;
    }

    .team {
        padding: 5px 0;
    }
}