.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App__main {
  height: 100%;
}

.App__actions {
  background-color: var(--dark-semi);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.App__actions > * + * {
  margin-left: 1rem;
}

@media only screen and (min-width: 768px)  {
  .App__actions {
    order: -1;
  }
}
